* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng
*/

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    display: flex;
    align-items: center;
    z-index: 999;
}

#search {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    cursor: pointer;
}

#search:hover {
    background-color: #f44336;
    height: 46px;
}

#search img {
    width: 17px;
    height: 22px;
}

#nav {
    display: flex; /* to keep nav items in a row */
    list-style: none;
}

#nav li {
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
    background-color: white;
}

#nav .subnav li:hover {
    background-color: #ccc;
}

#nav .subnav li {
    display: block;
}

#nav .subnav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    box-sizing: content-box;
    min-width: 128px;
    text-decoration: none;
    height: 22.5px;
} 

#nav > li > a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
}

#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

.icon.hover {
    display: none;
}

.icon.default {
    width: 12px;
    height: 12px;
}

.icon.default,
.icon.hover {
    width: 12px;
    height: 12px;
}

#nav > li:hover .icon.default {
    display: none;
}

#nav > li:hover .icon.hover {
    display: inline;
    width: 12px;
    height: 12px;
}

#slider {
    margin-top: 46px;
    max-height: 1000px;
    overflow: hidden;
    position: relative;
}

.mySlides {
    display: none;
    height: 50%;
    position: relative;
}

#slider .content {
    color: #f2f2f2;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 32px 16px;
    width: 100%;
}

#slider .content .text {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider .content .subtext {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fade {
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

#content {
    height: 675px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    width: 70%; 
    margin: 0 auto;
    padding: 64px 0;
    flex-direction: column;
    align-items: center; 
}

#content .main-content {
}

#content .main-content .header {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}

#content .main-content .subtext {
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.6;
    letter-spacing: 1px;
}

#content .main-content .text-description {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
}

#content .images {
    display: flex; 
    gap: 100px;
    padding: 32px 32px;     
}

#content .images .image p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#content .images .image img {
    width: 154px;
    height: 154px;
}

#footer {

}

